*{
	background-color: yellow;
	color: black;


}

button{
	
	border-radius: 20px;
	margin:15px ;
	padding: 5px ;
	background: green;
	border-width: 3px;
	

}
input{
	border-radius: 20px;
	border-width: 3px;
}
div{
	align-items: center;
	justify-content: center;
	text-align: center;
	margin-top: 250px;
}
#addition ,#div, #subtraction ,#mult ,#rem{
	background: green;
	color: pink;
	padding: 5px 5px 5px 5px;
	margin: 5px 5px 5px 5px;

}
